<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
      <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
          <section name="SmokingReminder.Systrayapp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      </sectionGroup>
  </configSections>
  <System.Windows.Forms.ApplicationConfigurationSection>
    <add key="DpiAwareness" value="PerMonitorV2" />
  </System.Windows.Forms.ApplicationConfigurationSection>
<userSettings>
  <SmokingReminder.Systrayapp.Properties.Settings>
        <setting name="enabled" serializeAs="String">
            <value>True</value>
        </setting>
        <setting name="interval" serializeAs="String">
            <value>30</value>
        </setting>
        <setting name="old_interval" serializeAs="String">
            <value>0</value>
        </setting>
    </SmokingReminder.Systrayapp.Properties.Settings>
  
</userSettings>
</configuration>